@import url("reset.css");
//@import url("plugins/before-after.min.css");

$black: #000000;
$green: #2FD164;
$mint: #C2FFD6;
$yellow: #EDBF3D;
$red: #DA2427;
$blue: #54BCEB;
$sky: #D8F3FF;
$lightgray: #FCFCFC;
$section-padding: 85px 0;



// font-family: filson-pro, filson-soft;

.green { color:$green; }
.yellow { color:$yellow; }
.red { color:$red; }
.blue { color:$blue; }
.white { color:#fff; }

.green-bg { background-color: $green;}
.yellow-bg { background-color: $yellow;}
.red-bg { background-color: $red;}
.blue-bg { background-color: $blue;}
.white-bg { background-color: #fff;}
.mint-bg { background-color: $mint; }
.sky-bg { background-color: $sky; }
.light-gray-bg { background-color:$lightgray; }

.text-center {
    text-align: center;
}

.wow { visibility: hidden; }

// .slick-track {
//     display: flex !important;
// }

// .slick-slide {
//     height: inherit !important;
// }

h1 {
    font-size: 55px;
    line-height: 88px;
    margin-bottom:2rem;
    font-family: filson-pro, sans-serif;
}

h2 {
    font-size: 64px;
    line-height: 104%;
    font-weight:700;
    margin-bottom:2rem;
    font-family: filson-pro, sans-serif;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight:700;
    margin-bottom:1rem;
    font-family: filson-pro, sans-serif;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    font-family: filson-pro, sans-serif;
    font-weight: 900;
}

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}

p {
    margin-bottom:1rem;
}

p:last-child {
    margin-bottom:0;
}

@media screen and (max-width:768px){
    h1 {
        font-size:48px;
        line-height:66px;
    }
    h2 {
        font-size:40px;
        line-height: 56px;
    }
}

.svg-icon {
    .off { display:inline-block; }
    .on { display:none; }
    &:hover {
        .off { display:none; }
        .on { display:inline-block; }
    }
}

strong {
    font-weight:700;
}


.intro { overflow: hidden; }

body {
    font-size:18px;
    line-height: normal;
    font-family:filson-soft, sans-serif;
    font-weight:300;
    color:#000;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.button {
    background: #C2FFD6;
    border: 3.7px solid #000000;
    border-radius: 76px;
    padding:5px 20px;
    display:inline-block;
    transition:all 0.1s;
    font-weight:700;
    &:hover {
        background:$green;
        color:#fff;
    }
    &.white {
        background:#fff;
        color:#000;
        &:hover {
            background:$green;
            color:#fff;
        }
    }
}

img { max-width:100%; }

.wrapper {
    display:flex;
    margin:0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:1410px;
}

.main-nav {
    padding:1rem 0;    
    background:#fff;
    position:-webkit-sticky;
    position: sticky;
    top:0;
    z-index:100;
    box-shadow:0px 5px 15px rgba(0,0,0,0.05);
    transition:all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.scrolled {
        padding:0rem 0;
    }
    .mobile { display:none; }
    .desktop { display:flex; }
    ul {
        li {
            display:inline-block;
            padding-right:2rem;
            font-weight:700;
            vertical-align: middle;
            font-size:26px;
        }
        a:not(.button):hover {
            color:$green;
        }
    }
    .hamburger-menu {
        font-size:2.25rem;
        min-width:2.25rem;
    }
    .main-shopping-cart {
        font-size:2rem;
    }
    .nav-menu {
        flex:2;
        padding-left:2rem;
        text-align: center;
    }
    .utility-menu {
        color:inherit;
    }
    .account {
        display:inline-flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        & > i {
            margin-left:0.25rem;
        }
        &:hover > i {
            color:$green;
        }
        &:hover > a i {
            color:$black;
        }
    }
    .account-button {
        width:30px;
        height:30px;
        border-radius:100%;
        background:#ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$lightgray;
        font-size:20px;
    }
    @media screen and (max-width:768px){
        .mobile { display:flex; }
        .desktop { display:none; }
        .wrapper {
            align-items: center;
            justify-content: flex-start;
            padding:0 1rem;
        }
        ul {
            li {
                padding-right:0;
            }
        }
        .logo {
            text-align: center;
            justify-self: center;
            flex-grow: 1;
            width:auto;
        }
        .hamburger-menu {
            justify-self: flex-start;
        }
        .utility-menu {
            justify-self: flex-end;
        }
        .utility-menu li {
            padding-left:0;
            font-size:14px;
        }
        .account-button { display:none; }
        .main-shopping-cart {
            font-size:1.5rem;
            margin-right:0.25rem;
        }
  
    }
}

.mobile-menu {
    opacity:0;
    left:0;
    position:fixed;
    width:100vw;
    height:0;
    z-index:-1;
    background:rgba(0,0,0,0.35);
    font-size:8vw;
    font-weight:600;
    &.active {
        height:100vh;
        opacity:1;
        z-index:50;
    }
    
    .menu {
        display:flex;
        background:#fff;
        position:absolute;
        height:100%;
        width:80%;
        padding:3rem;
        position:relative;
        left:-500px;
        transition: all 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        li {
            margin-bottom:1rem;
        }
        a:hover, .active a { color:$green; }
    }
    &.active .menu {
        left:0;
    }
    
}

.banner-promo {
    padding:0.5rem 0;
    background:$yellow;
    img { 
        display:inline-block;
        vertical-align: middle;
        transform: rotate(-90deg); 
        margin-left:0.5rem;
        transition: margin 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    a:hover {
        img {
            margin-left:1rem;
        }
    }
    @media screen and (max-width:768px) {
        text-align: center;
        padding:0.5rem;
        font-size:14px;
    }
}

.full-hero {
    width:100%;
    img { display:block; }
}

.hero {
    position:relative;

    .wrapper { 
        max-width:100%; 
        align-items: stretch;
    }

    .image, .content {
        width:50%;
    }

    .image {
        background-image:url(../images/fetch_home_hero.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
    }

    img { 
        display:block;
        width:100%;
        visibility: hidden;
    }

    .content {
        padding-top:85px;
        padding-bottom:85px;
        padding-left:100px;
        display:flex;
        align-items: center;
        .text {
            max-width:700px;
        }

        h2 {
            font-size: 72px;
            line-height: 106.3%;
        }

        p {
            font-weight: 500;
            font-size: 26px;
            line-height: 35px;
        }
        
        p:not(:last-child){
            padding-bottom:2rem;
        }
        ul {
            list-style: disc;
            list-style-position: inside;
            font-weight:700;
            font-size:18px;
            padding:0 1rem;
            li {
                padding-bottom:0.75rem;
            }
        }
    }
    &.bg-right .content {
        justify-content: flex-end;
        padding-top:133px;
        padding-bottom:133px;
        padding-right:100px;
        padding-left:auto;
    }

    @media screen and (max-width:768px){
        .wrapper {
            flex-direction: column;
        }
        .image, .content {
            width:100%;
            text-align: center;
            .text {
                max-width:100%;
            }
        }
        .content, &.bg-right .content {
            justify-content: center;
            padding:2rem;
        }
        .image {
            order:1;
        }
        .content {
            order:2;
        }
        
    }
}


.review-banner {
    padding:$section-padding;
    background:$green;
    color:#fff;
    font-size:18px;
    position:relative;
    .wrapper {
        justify-content: center;
        align-items: center;
    }
    .animated-truck {
        position:absolute;
        z-index:1;
        opacity:0;
        background:transparent;
        width:100%;
        top:0;
        left:0;
        bottom:0;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
        
        img {
            max-height:100%;
        }
    }
    .review {
        text-align: center;
        padding:0 2rem;
        flex-basis: 33%;
    }
    h3 {
        font-size:24px;
        margin:0;
    }
    @media screen and (max-width:768px){
        .wrapper {
            flex-direction: column;
        }
        .review {
            padding:2rem;
            flex-basis: 100%;
        }
        .animated-truck {
            display:none;
        }
    }
}

.features {
    text-align: center;
    padding:$section-padding;
    .wrapper {
        flex-direction: column;
    }
    .intro {
        padding:3rem 0rem;
        p {
            margin-bottom:1.25rem;
            font-weight:600;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
    .icon-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        padding-bottom:3rem;
        font-size:18px;
        padding:0 3rem;
        max-width:1000px;
        .mobile { display:none; }
        img {
            max-width:125px;
        }
    }
    .flex-icons {
        display:flex;
        align-items: center;
        justify-content: center;
        .icon {
            padding:0 2rem;
        }
    }
    
    @media screen and (max-width:768px){
        .icon-grid {
            grid-template-columns: repeat(3, 1fr);
            padding:1rem;
            font-size:12px;
            .mobile { display:block; }
        }
        .intro {
            padding:1rem;
        }
        .flex-icons {
            flex-direction: column;
            .icon {
                width:100%;
            }
        }
    }
}


.nutrition-info {
    width:50%;
    .table {
        background:#FFF;
        padding:1rem;
        border-radius: 40px;
    }
    table {
        width:100%;
        td {
            text-align: left;
            padding-bottom:0.5rem;
        }
    }
    @media screen and (max-width: 768px){
        width:90%;
    }
}

.feature .nutrition-info {
    width:100%;
}

.ingredients {
    .intro {
        padding:0 3rem 3rem 3rem;
    }
    @media screen and (max-width:768px){
        .intro {
            padding:0 1rem 3rem 1rem;
        }
    }
}

.nutrition-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    .icon {
        max-width:30%;
        padding:0 2rem 1rem 2rem;
        img {
            max-width:100px;
            margin-bottom: 0.5rem;
        }
        h3 {
            margin-bottom:0;
        }
    }
    @media screen and (max-width:768px){
        .icon {
            max-width:50%;
            padding:0 1rem 1rem 1rem;
        }
    }
}

.loaf-slider {
    padding:$section-padding;
    text-align:center;
    .wrapper {
        flex-direction: column;
    }
    .loaf-selector {
        padding:2rem 0 0 0;
        display:flex;
        .icon { padding:0 2rem; }
    }
    .slider-wrapper {
        padding:3rem 0;
        margin:0 auto;
    }
    .loaf-features {
        width:66%;
        margin:0 auto;
        padding:0;
        position:relative;
        transform:translateY(50%);
        transition:transform 1s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s;
        opacity:0;
        visibility: hidden;
        max-height: 0px;
        &.active {
            padding:0 2rem 2rem 2rem;
            display:flex;
            transform:translateY(0%);
            max-height:1000px;
            visibility: visible;
            opacity:1;
        }
        .feature {
            display:flex;
            align-items: center;
            justify-content: flex-start;
            padding:0 0.5rem 0 0;
            margin:0 1rem;
            font-size:16px;
            text-align: left;
            width:33%;
            .icon {
                max-width:36px;
                min-width:36px;               
            }
            .text {
                padding-left:1rem;
            }
        }
    }
    .loaf-content {
        display:none;
        display:flex;
        width:100%;
        flex-direction: column;
    }
    @media screen and (max-width:768px) {
        .loaf-features {
            width:100%;
            max-width:100vw;
            flex-direction: row;
            padding:0;
            font-size:12px;           
        }
    }
}

.ba-slider {
    display:block;
    position:relative;
    width:1000px;
    background:#000;
    margin:0 auto;
    height:600px;
    align-self: center;
    justify-content: center;
    .img {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .bg-image {
        background-image:url("/images/slider_beef_puploaf.png");
    }
    .fg-image {
        background-image:url("/images/slider_beef_ingredients.png");
        width:10%;
    }
    &.beef {
        .bg-image {
            background-image:url("/images/slider_beef_puploaf.png");
        }
        .fg-image {
            background-image:url("/images/slider_beef_ingredients.png");
        }
    }
    .handle {
        background:#fff;
        position:absolute;
        height:100%;
        top:0;
        bottom:0;
        width:15px;
        left:10%;
    }
    @media screen and (max-width:800px){
        width:640px;
        height:480px;
        .handle {
        }
    }
    @media screen and (max-width:640px){
        width:320px;
        height:280px;
        .handle {
        }
    }
}

.carousel-section {
    text-align: center;
    padding:$section-padding;
    .wrapper {
        flex-direction: column;
    }
    .intro {
        padding-bottom:3rem;
        h2 {
            
        }
    }
    .slider {
        width:100%;
        position:relative;
        padding-bottom:3rem;
        .slides-wrapper {
            display:flex;
            align-items: center;
            justify-content: center;
            position:relative;
        }
        .slide-arrow {
            cursor:pointer;
            width:36px;
            height:36px;
            display:flex;
            align-items: center;
            justify-content: center;
            border:3px #000 solid;
            background:#fff;
            border-radius:100%;
            position:absolute;
            top:50%;
            margin-top:-32px;
            z-index:100;
            font-size:0px;
            img { display:block; }
            &.prev { left:-60px; transform: rotate(90deg);}
            &.next { right:-60px; transform: rotate(-90deg); }
            &:hover {
                background-color:$green;
            }
            &:focus {
                outline:none;
            }
        }
        .slick-list { padding-bottom:3rem; left:0 !important; }
        .slide {
            background:#fff;
            border-radius:31px;
            margin:0 1.5rem;
            box-shadow:0px 10px 15px rgba(0,0,0,0.15);
            .image {
                width:100%;
                overflow: hidden;
                border-radius: 30px 30px 0 0;
                img { 
                    width:100%; 
                    display:block; 
                    max-height:300px;
                    object-fit: cover;
                }
            }
            .content {
                padding:2rem;
            }
        }
    }
    @media screen and (max-width: 768px){
        .intro {
            padding:0 2rem 2rem 2rem;
        }
        .slider { padding-bottom:0; }
        .slide-arrow { display:none !important; }
    }
}

.calculator {
    padding:$section-padding;
    text-align: center;
    .wrapper {
        flex-direction: column;
        //border:3px #000 solid;
        box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.11);
        border-radius:15px;
        padding:3rem;
    }
    .intro {
        padding:0rem 4rem 6rem;
        font-weight:500;
    }
    .dog-name-label {
        text-transform: capitalize;
    }
    
    @media screen and (max-width:768px) {
        padding:1rem;
        .wrapper {
            padding:0.5rem;
        }
        .intro { padding:2rem 1rem; }
        .calc-form {
            
        }
    }
}



.calc-form {
    width:100%;
    form {
        display:flex;
        flex-wrap: wrap;
    }
    .column {
        width:50%;
        padding:0 3rem;   
    }
    .row {
        width:100%;
        padding:1rem;
        text-align:center;
    }
    label {
        text-align: left;
        display:block;
        font-size:16px;
        & > div { 
            font-weight:700; 
            padding-bottom:0.4rem;
        }
    }
    .form-input {
        padding-bottom:3rem;
        & > span {
            display:block;
            text-align:left;

        }
    }
    input[type="text"], input[type="number"] {
        display:block;
        width:100%;
        background:$mint;
        color:#000;
        padding:0.4rem;
        border-bottom:6px #000 solid;
        font-weight:500;
    }
    .error input[type="text"], .error input[type="number"]{
        background:#FF9799;
    }

    .error-text {
        display:none;
        font-size:0.8rem;
        padding-top:0.3rem;
        text-align: left;
        color:$red;
    }
    .error .error-text {
        display:block;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width:100%;
        $track-height: 12px;
        $thumb-size: 32px;
        &:focus { outline:none; }
        &::-webkit-slider-runnable-track
        {
            -webkit-appearance: none;
            appearance: none;
            background:#C4C4C4;
            height:$track-height;
            width:100%;
            border-radius: 15px;
        }
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background:$green;
            height:$thumb-size;
            width:$thumb-size;
            border-radius: 100%;
            margin-top: -10px;
        }

    }
    .meal-selections {
        display:flex;
        width:100%;
        align-items: center;
        justify-content: center;
        & > div {
            padding:0 2rem;
        }
        .mix-icon { 
            display:flex;
            align-items: center;
            justify-content: center;
            .plus {
                padding:0 0.5rem;
                font-size:1.5rem;
            }
        }
        .turkey-svg-icon { max-width:142px; }
        .beef-svg-icon { max-width: 80px; }
        .mix-icon {
            .turkey-svg-icon { max-width:103px; }
            .beef-svg-icon { max-width: 73px; }
        }
        .off { display:inline-block; }
        .on { display:none; }
        a.active {
            .off { display:none; }
            .on { display:inline-block; }
        }
        span {
            display:block;
        }
    }
    .meal-plans {
        display:flex;
        align-items: center;
        justify-content: space-between;
        .card {
            background:#F8F8F8;
            padding:0;
            max-width:48%;
            border-radius:15px;
            overflow:hidden;

            .image {
                width:100%;
                position:relative;
                img {
                    max-width:100%;
                }
            }

            .pill {
                position:absolute;
                top:2rem;
                left:2rem;
                padding:0.25rem 0.5rem;
                font-size:12px;
                background:white;
                font-weight:600;
                border-radius: 14px;
            }

            
            &.popular {
                background:$mint;
                .pill {
                    background:$yellow;
                }
            }

            .content {
                padding:2rem 5rem 2rem 2rem;
                text-align:left;
                p {
                    margin-bottom:1rem;
                    font-size:16px;
                    &:last-child {
                        margin-top:2rem;
                    }
                }
            }
            .pricing {
                padding-bottom:2rem;
            }
            h3 {
                font-size: 32px;
                line-height: normal;
                font-weight:700;
                margin-bottom: 0;
            }
            h4 {
                font-weight:700;
            }
        }
    }
    @media screen and (max-width: 768px){
        .meal-selections {
            padding:0;
            & > div {
                padding:0 1rem;
            }
        }
        form {
            flex-direction: column;
            padding:0.5rem;
            .column {
                width:100%;
                padding:0;
            }
        }
        .meal-plans {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width:100%;
            padding:0;
            .card {
                width:100%;
                max-width: 100%;
                margin-bottom: 1rem;
                .content {
                    padding:1rem;
                }
                h3 {
                    font-size:40px;
                }
            }
        }
    }
}


.kibble-compare {
    text-align: center;
    padding:$section-padding;
    .wrapper {
        flex-direction: column;
    }
    .intro {
        padding-bottom:3rem;
    }
    .cards {
        display:flex;
        width:70%;
        margin:0 auto;
        padding-bottom:3rem;
        justify-content: space-between;
        .card {
            background:$mint;
            border-radius:31px;
            padding:15px 30px;
            width:50%;
            margin:0 1rem;
            h3 {
                border-bottom:1px #000 solid;
            }
            ul {
                list-style:none;
                padding:0 2rem;
                li {
                    padding-bottom:1rem;
                    font-weight:700;
                }
            }
        }
    }

    .kibble-table {
        display:none;
        table {
            width:100%;
            margin:0 auto 3rem 0;
            border-spacing:10px 0px;
            border-collapse: separate;
        }
        th {
            text-align:center;
            padding:1rem;
            background:transparent;
            border-radius:30px 30px 0 0;
            font-weight:700;
            span {
                display:inline-block;
                width:100%;
                border-bottom:1px #000 solid;
            }
        }
        td, th {
            vertical-align: middle;
        }
        tr td:first-child {
            text-align:right;
            padding:0 1rem 1rem 0rem;
            color:#fff;
            font-weight:700;
        }
        th:nth-child(2n), td:nth-child(2n){
            background:$mint;
            width:25%;
            .icon {
                background:$green;
            }
        }
        th:nth-child(3n), td:nth-child(3n){
            background:white;
            width:25%;
            .icon {
                background:#FF9799;
            }
        }
        
        td .icon {
            border:3px #000 solid;
            display:flex;
            margin:0 auto 1rem auto;
            width:45px;
            height:45px;
            align-items: center;
            justify-content: center;
            font-size:20px;
            border-radius:8px;
            font-weight:900;
        }
        tr:last-child td {
            border-radius:0 0 30px 30px;
        }
        
        
    }

    @media screen and (max-width:768px) {
        .intro { 
            padding:0 2rem 2rem 2rem;
        }
        .cards {
            display:none;
        }
        .kibble-table { display:block; }
    }
}

.cta-slider {
    padding:$section-padding;
    .wrapper {
        flex-direction: column;
    }
    .columns {
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0 0 3rem 0;
        & > div {
            padding:0 3rem;
        }
        .content {
            align-self: flex-start;
            padding:2rem;
            margin-left:-2rem;
            & > p { margin-bottom:4rem; }
            h2 {
                margin-bottom:5px;
            }
        }
    }
    .cta-features {
        padding-top:1rem;
        display:none;
        flex-direction: column;
        opacity:0;
        transition: opacity 1s 1s;
        &.active {
            display:flex;
            opacity:1;
        }
        h3 {
            margin-bottom: 2rem;
        }
        .entry {
            display:flex;
            padding-bottom:1.5rem;
            .icon {
                width:50px;
            }
            .text {
                padding-left:1rem;
            }
        }
    }
    .ba-slider {
        width:640px;
        height:640px;
        .bg-image {
            background-image:url(../images/bowl-slider/fetch_bowl_slider_empty.jpg);
        }
        .fg-image {
            background-image:url(../images/bowl-slider/fetch_bowl_slider_turkey.jpg);
        }
    }
    @media screen and (max-width: 768px){
        .columns {
            flex-direction: column;
            text-align: center;
            & > div {
                width:100%;
            }
            .content {
                margin:0 auto;
            }
        }
        .cta-features {
            padding-top:0;
            width:100%;
            justify-content: center;
            .entry {
                width:100%;
                justify-content: center;
                text-align: left;
            }
        }
        .ba-slider {
            width:320px;
            height:320px;
        }
    }
}


.footer-top {
    padding:85px 0 0 0;
    position:relative;
    font-size:0;
    overflow: hidden;
    img {
        display:block;
        margin:0 auto;
    }
}

.main-footer {
    padding:$section-padding;
    color:#fff;
    position: relative;
    z-index:10;
    .wrapper {
        justify-content: space-between;
        align-items: flex-start;
    }
    a:hover {
        text-decoration: underline;
    }
    .nav-column {
        padding-right:4rem;
        ul li {
            padding-bottom:1rem;
            display:block;
        }
        img { vertical-align: middle; }
    }
    form {
        font-size:0px;
        input[type="text"] {
            background:#fff;
            color:$green;
            border-radius:75px 0 0 75px;
            margin:0;
            font-size:18px;
            padding:0.5rem 1rem;
        }
        button[type="submit"] {
            margin:0;
            font-size:18px;
            background:$mint;
            border-radius: 0 75px 75px 0;
            padding:0.5rem 1rem;
            color:#000;
            font-weight:900;
            cursor:pointer;
            &:hover {
                background:$yellow;
            }
        }
    }
    .contact-links {
        img { 
            width:32px; 
            margin-right:1rem;
        }
    }
    @media screen and (max-width:768px) {
        font-size:14px;
        .wrapper {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            padding:0 2rem;
            flex-wrap:wrap;
            text-align:left;
        }
        .nav-column {
            padding:0 0 0.5rem 0;
            order:2;
            width:50%;
        }
        .contact-links {
            img {
                width:14px;
                margin-right:0.25rem;
            }
        }
        .news-column { 
            order:1; 
            width:100%;
            padding:0 0 1.5rem 0;
        }
    }
}

.footer-bottom {
    background:$green;
    padding:1rem 0 3rem 0;
    color:#fff;
    font-weight:100;
    font-size:0.8em;
    position:relative;
    z-index:10;
    a:hover {
        text-decoration: underline;
    }
    .wrapper {
        border-top:1px #fff solid;
        padding-top:1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .utility-nav {
        ul li { 
            display:inline-block; 
            padding-left:1rem;
        }
    }
    @media screen and (max-width:768px) {
        .wrapper {
            flex-direction: column;
            text-align: center;
            & > div {
                padding-bottom:1rem;
            }
        }
    }    
}

.how-it-works {
    .image {
        opacity:0;
        display:none;
        &.active {
            opacity:1;
            display:block;
        }
    }
}

.timeline {
    width:100%;
    font-size:18px;
    .entry {
        width:100%;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        color:#fff;
        opacity:0;
        transition: all 0.5s;
        max-width:600px;
        font-size:26px;  
        &.active {
            opacity:1;
        }
        .digit {
            position:relative;
            min-height:100px;
            &:after {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                height:100%;
                left:50%;
                transform: translateX(-50%);
                width:1px;
                background:#FFF;
                z-index:1;
            }
            span {
                position:relative;
                display:block;
                width:50px;
                height:50px;
                line-height:50px;
                background:$green;
                text-align: center;
                border:2px #fff solid;
                border-radius:100%;
                z-index:4;
                font-size:30px;
                font-weight:900;
            }
        }
        &:last-child .digit:after {
            display:none;
        }
        .text {
            flex:2;
            padding:0 1rem 3rem 1rem;
            text-align: left;
        }
    }
}


.dog-story {
    padding:5rem 0 0 0;
}

.big-timeline {
    padding:0 0 3rem 0;
    .wrapper {
        flex-direction: column;
    }
    img {
        border-radius: 100%;
    }
    .entry {
        display:flex;
        justify-content: center;
        align-items: stretch;
    }
    .left, .right { 
        flex:2; 
        display: flex;
        align-items: center;
        padding:0 2rem;
    }
    .left {
        text-align: right;
    }
    .right {
        text-align: left;
    }
    .dot {
        position:relative;
        display:flex;
        align-items: center;
        padding:0 3rem;
        .circle {
            width:50px;
            height:50px;
            background:$green;
            border-radius: 100%;
            position:relative;
            z-index:10;
        }
        &:before {
            content:"";
            display:block;
            width:1px;
            border-left:10px dashed black;
            position: absolute;
            top:50%;
            height:100%;
            left:50%;
            margin-left:-5px;
            z-index:-1;
        }
    }
    .entry:last-child {
        .dot:before {
            display:none;
        }
    }
    @media screen and (max-width:768px){
        .entry {
            font-size:14px;
            .left, .right {
                padding:0 1rem 2rem 1rem;
            }
            .dot { 
                padding:0;
                &:before {
                    border-left:5px dashed black;
                    margin-left:-2.5px;
                }
                .circle {
                    width:25px;
                    height:25px;
                }
            }
        }
    }
}


.meal-icon-toggle {
    svg {
        max-width:144px;
    }
    .on { display:none; }
    .off { display:inline-block; }
    &.active {
        .on { display:inline-block; }
        .off { display:none; }
    }
}

.team {
    padding:3rem 0;
    text-align: center;
    .wrapper {
        flex-direction: column;
    }
    .intro {
        padding:0 0 3rem 0;
    }
    img { display:block; }
}

.product-feature-nav {
    padding:1.5rem 0;
    .wrapper {
        align-items: center;
        justify-content: center;
        & > div {
            padding:0 1rem;
            width:20%;
            text-align: center;
        }
        .feature-button {
            width:100%;
            cursor:pointer;
            border:none;
            padding:0.65rem 1.5rem;
            background:white;
            &.active {
                background:$mint;
            }
            &:hover {
                color:$black;
                background:$mint;
            }
        }
    }
    @media screen and (max-width:768px){
        font-size:16px;
        .wrapper {
            flex-wrap:wrap;
            padding:0 1rem;
            & > div {
                width:50%;
                max-width:50%;
                padding:0 0.5rem 0.5rem;
            }
        }
    }
}

.single-product-nutrition {
    .intro {
        padding:0 3rem;
    }
    .nutrition-info {
        justify-self: center;
        .table {
            max-width:50%;
            margin:0 auto;
        }
    }
    p {
        margin-bottom:1rem;
    }
    .text {
        max-width:66%;
        margin:0 auto;
    }
    .loaf-selector {
        display:flex;
        align-items: flex-end;
        justify-content: center;
        padding:0 0 2rem 0;
        .icon {
            padding:0 1rem;
            cursor: pointer;
            svg {
                max-width:100px;
            }
            .beef-svg-icon { max-width:80px; }
            &.active {
                .on { display:block; }
                .off { display:none; }
            }
        }
    }
    @media screen and (max-width:768px){
        .text {
            max-width:100%;
        }
        .nutrition-info {
            width:100%;
            .table {
                max-width:100%;
                width:100%;
            }
        }
    }
}

.product-features {
    padding:3rem 0;
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 3rem;
        .feature {
            width:100%;
            display:none;
            flex-direction:column;
            text-align: center;
            align-items: center;
            justify-content: center;
            &.active {
                display:flex;
            }
        }
    }
    @media screen and (max-width:768px){
        .wrapper {
            padding:0 1rem;
        }
    }
}

.faqs {
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-width:75%;
    .entry {
        border-bottom:1px #000 solid;
        padding:1rem 0;
        width:100%;
        overflow:hidden;
        cursor:pointer;
        &:first-child {
            border-top:1px #000 solid;
        }
        .question {
            font-weight:900;
            display:flex;
            align-items: center;
            justify-content: space-between;
            
        }
        .answer {
            max-height:0;
            height:0;
            opacity:0;
            transition:opacity 0.2s, max-height 0.2s;
        }
        &.active {
            .answer {
                height:auto;
                max-height:1000px;
                opacity:1;
                padding-top:0.5rem;
            }
        }
    }
    @media screen and (max-width:768px){
        max-width:100%;
    }
}




.single-product {
    padding:3rem 0;
    .wrapper {
        align-items: flex-start;
        justify-content: space-between;
    }
    .product-hero{
        width:40%;
        max-width:400px;
        padding-right:1rem;
        text-align: center;
        .content {
            padding:1rem;
            h1 {
                font-size:32px;
                font-weight:900;
                line-height: 36px;
                margin:0;
                padding:0;
            }
            p {
                margin:1rem 0;
                padding:0;
            }
        }
    }
    .product-calculator {
        width:60%;
        font-size:16px;
        .wrapper {
            padding:1rem;
        }
        h2 {
            font-size:32px;
            margin-bottom:0.5rem;
            line-height:32px;
        }
        p {
            font-weight:400;
        }
        .intro { padding-bottom:1rem; }
        .form-input { 
            padding:0 0 1rem 0; 
            label { font-size:14px; }
        }
        .svg-icon { max-width:60px; }
        .beef-svg-icon { max-width:45px; }
    }

    @media screen and (max-width:768px){
        .wrapper {
            flex-direction: column;
            align-items: center;
        }
        .product-hero, .product-calculator {
            width:100%;
            max-width:100%;
            padding:0;
        }
        .product-hero {
            padding:0 1rem;
        }
    }
}

.feeding-guide {
    padding:0 3rem;
    .intro-text {
        padding:0 3rem 3rem 3rem;
    }
    .charts {
        display:flex;
        align-items: flex-start;
        justify-content: center;
    }
    .column {
        padding:0 2rem;
    }
    .text {
        p {
            margin-bottom:0;
        }
    }
    .chart {
        padding-bottom:1rem;
        div {
            width:100px;
            height:100px;
            border-radius: 100%;
            margin:0 auto;
            &.quarter {
                background:
                    conic-gradient(
                        $green 0,
                        $green 25.25%,
                        #fff 0,
                        #fff 100%
                );
            }
            &.half {
                background:
                    conic-gradient(
                        $green 0,
                        $green 50%,
                        #fff 0,
                        #fff 100%
                );
            }
            &.threequarters {
                background:
                    conic-gradient(
                        $green 0,
                        $green 75%,
                        #fff 0,
                        #fff 100%
                );
            }
            &.full {
                background:
                    conic-gradient(
                        $green 0,
                        $green 101%,
                        #fff 0,
                        #fff 0%
                );
            }
        }
    }
    @media screen and (max-width:768px){
        padding:1rem;
        .intro-text {
            padding:0 1rem 2rem 1rem;
        }
        .charts {
            flex-wrap:wrap;
            font-size:14px;
        }
        .chart {
            div {
                width:66px;
                height:66px;
            }
        }
        .column {
            width:50%;
            padding-bottom:2rem;
        }
    }
}


.full-reviews {
    padding:3rem 0;
    .wrapper {
        flex-direction: column;
        text-align: center;
        padding:0 3rem;
    }
    .buttons {
        padding:2rem 0;
        a {
            margin:0 1rem;
        }
    }
    .reviews {
        text-align: left;
        display:flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        .entry {
            width:100%;
            display:flex;
            flex-direction: column;
            padding:1.33rem 0;
            border-bottom:1px #000 solid;
            &:first-child {
                border-top:1px #000 solid;
            }
            .header {
                width:100%;
                display:flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
            }
            .icon {
                padding-right:1rem;
                max-width:100px;
            }
            .meta {
                flex-grow:1;
                padding-bottom:0.25rem;
                span {
                    display:block;
                    padding-bottom:0.2rem;
                }
                .name {
                    font-weight:900;
                    color:$green;
                }
            }
            .date {
                
            }
        }
    }
    @media screen and (max-width:768px){
        .buttons {
            a {
                margin:0.5rem auto;
            }
        }
    }
}


.benefits {
    padding:3rem 0;
    .wrapper {
        padding:0 3rem;
        flex-direction: column;
    }
    .intro {
        padding:0 3rem;
        text-align: center;
    }
    .cards {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        .card {
            text-align: center;
            margin:0 1rem;
            max-width:25%;
            .image {
                overflow: hidden;
                border-radius: 30px;
            }
            .content {
                padding:1rem;
            }
        }
    }
    @media screen and (max-width: 768px){
        .wrapper {
            padding:0 1rem;
        }
        .intro {
            padding:0 1rem;
        }
        .cards {
            flex-wrap:wrap;
            .card {
                max-width:50%;
                width:50%;
                margin:0;
                padding:0 1rem 2rem 1rem;
                .content {
                    padding:0.5rem;
                }
            }
        }
    }
}
