<div class="calculator">
    <div class="wrapper">
        <div class="intro">
            <h2><span class="green dog-name-label" id="dog-name-label">Your dog's</span>&nbsp;Meal Plan</h2>
            <p>Your doggo is one of a kind. That’s why our personalized meal plans are specially tailored to your pup’s needs, so you can feed them tasty food as wonderful as they are.</p>
        </div>
        {% include "partials/calc-form.liquid" %}
    </div>
</div>