<div class="carousel-section">
    <div class="wrapper">

        <div class="intro">
            <h2 class="wow animate__backInDown">Pups are barking, parents are talking</h2>
            <p>These are the stories of pups just like yours who love Fetch.</p>
            <p>Want to see your dog here? Leave a review, tag us or use <span class="green">#FetchPDX</span></p>
        </div>

        <div class="slider">

            <div class="slide-arrow prev" id="carousel-prev"><img src="/images/small-arrow.png"></div>
            <div class="slide-arrow next" id="carousel-next"><img src="/images/small-arrow.png"></div>

            <div class="slides-wrapper" id="review-carousel">
                {% for i in (1..6) %}
                <div class="slide">
                    <div class="image">
                        <img src="/images/dog2.png">
                    </div>
                    <div class="content">
                        <p><strong>Slide {{i}} </strong></p>
                        <p>We love Fetch! And our dog Fido does too. We feed him twice a day with Fetch Beef Puploaf from our Fetch Fresh plan and his fur has gotten a whole new shine to it as he grows into his adult years.</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

    </div>
</div>