<div class="cta-slider">
    <div class="wrapper">
        
        <div class="columns">

            <div class="slider-wrapper">
                
            </div>
            
            <div class="content">
                <h2 class="wow animate__backInRight">Give us one week...</h2>
                <h3>and your pup will enjoy:</h3>
                <p>Features appear here</p>
            </div>
            
        </div>  

        
        <div>
            <a href="#" class="button">shop now</a>
        </div>

    </div>
</div>