<div class="loaf-slider">
    <div class="wrapper">
        
        <div class="intro">
            <h2 class="wow animate__backInUp">Puploaf is the most <span class="green">fresh</span></h2>
        </div>
        
        <div class="loaf-selector">
            <div class="icon">
                <a class="meal-icon-toggle active" href="#" data-content="turkey">
                    {% include "partials/turkey-icon.liquid" %}
                    <p>Turkey</p>
                </a>
            </div>
            <div class="icon">
                <a class="meal-icon-toggle" href="#" data-content="beef">
                    {% include "partials/beef-icon.liquid" %}
                    <p>Beef</p>
                </a>
            </div>
        </div>

        <div class="loaf-content active" id="turkey">
            
            <div class="slider-wrapper loaf-feature-slider" data-features="turkey-features">
                <div class="ba-slider">
                    <img src="images/food2.jpg" alt="">       
                    <div class="resize" style="width:20%">
                    <img src="images/food.jpeg" alt="">
                    </div>
                    <span class="handle" style="left:20%"></span>
                </div>
            </div>

            <div class="loaf-features active" id="turkey-features-1">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/leaf.png"></div>
                    <div class="text">Natural whole food ingredients</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/clock.png"></div>
                    <div class="text">Delivered within 48 hours after baking</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/zero.png"></div>
                    <div class="text">Zero added preservatives</div>
                </div>
            </div>
            <div class="loaf-features" id="turkey-features-2">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/heart.png"></div>
                    <div class="text">Vet-approved nutrition</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/health.png"></div>
                    <div class="text">Loaded with micro-nutrients</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/smile.png"></div>
                    <div class="text">Gentle on digestion</div>
                </div>
            </div>
            <div class="loaf-features" id="turkey-features-3">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/hand.png"></div>
                    <div class="text">Hand-prepared by chefs</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/star.png"></div>
                    <div class="text">Baked to perfection</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/food.png"></div>
                    <div class="text">Serve either warm or cold</div>
                </div>
            </div>

            <div>
                <a href="#" class="button">shop now</a>
            </div>

        </div>


        <div class="loaf-content" id="beef">
            
            <div class="slider-wrapper loaf-feature-slider" data-features="beef-features">
                <div class="ba-slider">
                    <img src="images/raw-meat.jpg" alt="">       
                    <div class="resize" style="width:20%;">
                    <img src="images/loaf.jpeg" alt="">
                    </div>
                    <span class="handle" style="left:20%;"></span>
                </div>
            </div>

            <div class="loaf-features active" id="beef-features-1">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/leaf.png"></div>
                    <div class="text">Natural whole food ingredients</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/clock.png"></div>
                    <div class="text">Delivered within 48 hours after baking</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/zero.png"></div>
                    <div class="text">Zero added preservatives</div>
                </div>
            </div>
            <div class="loaf-features" id="beef-features-2">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/heart.png"></div>
                    <div class="text">Vet-approved nutrition</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/health.png"></div>
                    <div class="text">Loaded with micro-nutrients</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/smile.png"></div>
                    <div class="text">Gentle on digestion</div>
                </div>
            </div>
            <div class="loaf-features" id="beef-features-3">
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/hand.png"></div>
                    <div class="text">Hand-prepared by chefs</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/star.png"></div>
                    <div class="text">Baked to perfection</div>
                </div>
                <div class="feature">
                    <div class="icon"><img src="images/feature-icons/food.png"></div>
                    <div class="text">Serve either warm or cold</div>
                </div>
            </div>

            <div>
                <a href="#" class="button">shop now</a>
            </div>

        </div>
       

    </div>
</div>