<div class="story yellow-bg">
    <div class="wrapper">
        <div class="intro">
            <h2 class="wow animate__backInDown">Our Story</h2>
            <p class="white">Fetch is what happens when pup-lovers decide to make food so good, your dog will feel like everyday is Thanksgiving! From our trusted veterinary experts to our in-house master chefs, each person on our team believes the best way to make dog food is from wholesome and delicious ingredients with all the nutrients your dog needs… and a whole lot of puppy love!</p>
        </div>
        <div class="images">
            <div class="wow animate__flipInX">
                <img src="/images/family.png">
            </div>
            <div class="wow animate__flipInY" data-wow-delay="0.3s">
                <img src="/images/family.png">
            </div>
            <div class="wow animate__flipInX" data-wow-delay="0.6s">
                <img src="/images/family.png">
            </div>
        </div>
        
    </div>
</div>