{% include "partials/html.liquid" %}

{% include "./partials/nav.liquid" %}

{% include "./partials/promo-bar.liquid" %}

    <div class="hero yellow-bg">
        <div class="wrapper">
            <div class="image" style="background-image: url(/images/hero2.png);">
                <img src="/images/hero2.png">
            </div>
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInRight">The Fetch Mission</h2>
                    <p class="white">The Fetch Mission is to improve and extend every Dog’s life by giving them the love, excitement and joy they give us, we believe this starts in their bowl.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hero bg-right green-bg">
        <div class="wrapper">
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInLeft">The Fetch Vision</h2>
                    <p class="white">We envision a future where every bowl is filled with love and every dog is seen as a true member of the family.</p>
                </div>
            </div>
            <div class="image" style="background-image: url(/images/about/fetch_about_mission.jpg);">
                <img src="/images/about/fetch_about_mission.jpg">
            </div>
        </div>
    </div>

    <div class="hero dog-story">
        <div class="wrapper">
            <div class="image" style="background-image: url(/images/about/fetch_about_charlie.png); background-position:-5vw 50%;">
                <img src="/images/about/fetch_about_charlie.png">
            </div>
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInRight">Our story starts<br>with Charlie</h2>
                    <p>Charlie was a lively and playful dog, sadly in 2015 at the age of 8 he started having terrible joint pain. It quickly progressed, limiting his ability to walk. Concerned his pup parents, Paul and Mary took him to the vet to find that he was dealing with autoimmune health issues.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="big-timeline">
        <div class="wrapper">

            <div class="entry">

                <div class="left wow animate__fadeInLeft">
                    <div>
                        <p>The vet explained that it was his diet of dry kibble. She suggested they begin making Charlie's food and explained to them key ingredients that could improve his health. Mary quickly got to work preparing meals weekly for Charlie.</p>
                    </div>
                </div>
                
                <div class="dot">
                    <div class="circle"></div>
                </div>
                
                <div class="right wow animate__fadeInRight">
                    <img src="/images/about/fetch_about_mary_cutting_vegetables.jpg">
                </div>

            </div>


            <div class="entry">

                <div class="left wow animate__fadeInLeft">
                    <img src="/images/about/fetch_about_charlie_eating_fetch.jpg">
                </div>
                
                <div class="dot">
                    <div class="circle"></div>
                </div>
                
                <div class="right wow animate__fadeInRight">
                    <div>
                        <p>Charlie's issues quickly cleared away. He was back to running, playing and being full of life. Mary had been devoting a significant amount of time to Charlie and couldn’t keep up with all the cooking anymore. Paul and Mary decided to look into different solutions in the market, but all they could find were frozen meals, packaged in difficult to use plastic.</p>
                    </div>
                </div>

            </div>

            

            <div class="entry">

                <div class="left wow animate__fadeInLeft">
                    <div>
                        <p>After months of searching for the right solution with no luck, Paul and Mary decided to create it. They met with a vet nutritionist and began working on fresh recipes of what they called puppy meatloaf, we call Puploaf. Partnering with local chefs they brought their healthy recipes to life with popping fresh flavor.</p>
                    </div>
                </div>
                
                <div class="dot">
                    <div class="circle"></div>
                </div>
                
                <div class="right wow animate__fadeInRight">
                    <img src="/images/about/fetch_about_ingredients.jpg">
                </div>

            </div>


            <div class="entry">

                <div class="left wow animate__fadeInLeft">
                    <img src="/images/about/fetch_about_paul_mary_charlie.jpg">
                </div>
                
                <div class="dot">
                    <div class="circle"></div>
                </div>
                
                <div class="right wow animate__fadeInRight">
                    <div>
                        <p>Sadly Charlie passed away in November 2021 at age 14, but his legacy lives on as Fetch continues to grow and spread health, fresh and amazing taste to dogs across the Pacific Northwest.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="hero yellow-bg">
        <div class="wrapper">
            <div class="image" style="background-image: url(/images/about/fetch_about_fresh_revolution.jpg);">
                <img src="/images/about/fetch_about_fresh_revolution.jpg">
            </div>
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInRight">A fresh revolution</h2>
                    <p class="white">Fetch was built on being the freshest food for your pup. Our Puploaf comes to your
                        door within 48 hours from the moment it is removed from the oven. We bake in
                        USDA certified kitchens. Fetch Puploaf is made with fresh ingredients that are
                        sourced in the Pacific Northwest. Our chefs put so much love into your pup’s food
                        that our vegetables are processed by hand. Our artisanal Puploaf has your pup in
                        mind throughout every step of our process</p>
                    <p><a href="#" class="button white">shop now</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="team">
        <div class="wrapper">
            <div class="intro">
                <h2 class="wow animate__backInUp">Meet our team</h2>
                <p>Our team is made up of dog lovers excited to keep spreading love to pups across the Pacific Northwest!</p>
            </div>
            <div class="image wow animate__fadeIn">
                <img src="/images/team.jpg">
            </div>
        </div>
    </div>

    {% include "partials/footer.liquid" %}

    {% include "partials/end.liquid" %}