{% include "partials/html.liquid" %}

{% include "./partials/nav.liquid" %}

{% include "./partials/promo-bar.liquid" %}

    <div class="hero main-hero">
        <div class="wrapper">
            <div class="image">                
                <img src="/images/fetch_home_hero.jpg" alt="Happy fetch test">
            </div>
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__flipInX">Feed <span class="green">your dog</span><br>
                        like family</h2>
                    <p class="wow animate__fadeIn" data-wow-delay="0.3s">Excitement, Joy, Love. That’s what makes Fetch’s fresh, chef-baked dog food a must-have in your pup’s bowl, giving them a longer, healthier life in every bite.</p>
                    <p class="wow animate__fadeInUp" data-wow-delay="1s"><a href="#" class="button">shop now</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="review-banner">
        <div class="animated-truck wow animate__lightSpeedOutRight" data-wow-duration="2s" data-wow-delay="0.1s">
            <img src="/images/gifs/fetch.gif">
        </div>
        <div class="wrapper">
            
            <div class="review wow animate__flipInX" data-wow-delay="0.5s">
                <img src="/images/stars.png">
                <h3>4.8 star average dog review</h3>
                <p>Learn why pup parents feed their dog like family</p>
            </div>
            <div class="review wow animate__flipInY" data-wow-delay="1s">
                <img src="/images/shield.png">
                <h3>Happy pups, 100% guaranteed</h3>
                <p>Put our top-quality fresh dog food to the test with our 100% money back guarantee</p>
            </div>
            <div class="review wow animate__flipInX" data-wow-delay="1.5s">
                <img src="/images/bowl.png">
                <h3>60,000 full bellies (and counting)</h3>
                <p>Discover what makes our best-selling Puploaf tail-wagging good.</p>
            </div>
        </div>
    </div>

    {% include "partials/features-icons.liquid" %}

    <div class="hero yellow-bg bg-right">
        <div class="wrapper">
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__flipInX">What's in your dog bowl?</h2>
                    <p class="white">Fetch fuels your dog the way nature intended... with nutritious human-grade ingredients so good, they consistently earn two paws up!</p>
                    <p class="white">Dry, processed dog kibble is not only tasteless: it cuts years off of your dog's life, upsets their tummy, and depletes their energy.</p>
                </div>
            </div>
            <div class="image blue-bg" style="background-image:url(/images/hero2.png)">
                <img src="/images/hero2.png">
            </div>
        </div>
    </div>

    {% include "partials/feature-slider.liquid" %}
   
    <div class="hero green-bg how-it-works" id="pin-me-2">
        <div class="wrapper">

            <div class="image active" id="img-1" style="background-image:url(/images/how-it-works/fetch_home_how_it_works_dog.jpg);">
                <img src="/images/how-it-works/fetch_home_how_it_works_dog.jpg">
            </div>

            <div class="image" id="img-2" style="background-image:url(/images/how-it-works/fetch_home_how_it_works_fresh.jpg);">
                <img src="/images/how-it-works/fetch_home_how_it_works_fresh.jpg">
            </div>

            <div class="image" id="img-3" style="background-image:url(/images/how-it-works/fetch_home_how_it_works_delivery.jpg);">
                <img src="/images/how-it-works/fetch_home_how_it_works_delivery.jpg">
            </div>

            

            <div class="content">
                <div class="text">
                    <h2 class="wow animate__flipInX">How it works</h2>
                    <div class="timeline">
                        <div class="entry active" id="entry-1">
                            <div class="digit"><span>1</span></div> 
                            <div class="text"><strong>Tell us about your pup.</strong> Our questionnaire gives our team of experts deep insight into your dog's nutritional needs.</div>
                        </div>
                        <div class="entry" id="entry-2">
                            <div class="digit"><span>2</span></div> 
                            <div class="text"><strong>Let the magic happen.</strong> Once your order is in, our team of chefs begin cooking your pup's tasty and nutritious meals.</div>
                        </div>
                        <div class="entry" id="entry-3">
                            <div class="digit"><span>3</span></div> 
                            <div class="text"><strong>Cut a slice.</strong> Your customized Puploaf arrives at your doorstep twice a month, cut a slice and see the joy in your pup's eyes.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/calculator.liquid" %}

    {% include "partials/kibble-compare.liquid" %}

    {% include "partials/carousel.liquid" %}

    {% include "partials/our-story.liquid" %}

    {% include "partials/cta-slider.liquid" %}

    {% include "partials/footer.liquid" %}

    {% include "partials/end.liquid" %}