{% include "partials/html.liquid" %}

{% include "./partials/nav.liquid" %}

{% include "./partials/promo-bar.liquid" %}


    <div class="full-hero">
        <img src="/images/nutrition/fetch_nutrition_hero.jpg" width="100%">        
    </div>

    <div class="features">
        <div class="wrapper">
            <div class="intro">
                <h2>Dogs are barking and tails are wagging!</h2>
                <p>Pups can’t get enough of Puploaf. It’s named after them for a reason. Everything we do at Fetch is focused on your dog. What they love and what they need with only the highest quality fresh ingredients.</p>
            </div>
            <div class="icon-grid">
                <div class="icon wow animate__flipInX" data-wow-delay="0s">
                    <img src="/images/gifs/human-grade-min.gif">
                    <p>Human-Grade,<br>AAFCO-compliant</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.2s">
                    <img src="/images/gifs/vet-designed-min.gif">
                    <p>Vet-Designed<br>Healthy</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.4s">
                    <img src="/images/gifs/chef-baked-min.gif">
                    <p>Chef-baked<br>fresh by hand</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.6s">
                    <img src="/images/gifs/personalized-to-your-dog-min.gif">
                    <p>Personalized<br>to your dog</p>
                </div>
            </div>
        </div>
    </div>


    <div class="features">
        <div class="wrapper">
            <div class="intro">
                <h2>Our Puploaf flavors</h2>
                <p>Choose which nutrition facts you’d like to see</p>
            </div>
            <div class="flex-icons">
                <div class="icon wow animate__flipInX" data-wow-delay="0s">
                    {% include "partials/turkey-icon.liquid" %}
                    <p>Turkey</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.2s">
                    {% include "partials/beef-icon.liquid" %}
                    <p>Beef</p>
                </div>
            </div>
        </div>
    </div>




    <div class="features light-gray-bg">
        <div class="wrapper">
            <div class="intro" style="max-width:75%;">
                <h2>Beef Puploaf nutritional info</h2>
                <p><strong>INGREDIENTS:</strong> Ground Beef, Brown Rice, Sweet Potato, Breadcrumbs, Carrots, Peas, Diced Tomatoes, Apple, Egg, Beef Liver, Apple Cider VInegar, Nutritional Yeast, Rosemary, Chef Canine Complete 2 (Vitamins and Nutrients)</p>
            </div>
            <div class="nutrition-info">
                <div class="table wow animate__flipInX">
                    <table>
                        <tr>
                            <td width="100%" colspan="2"><strong>Guaranteed Analysis</strong></td>
                        </tr>
                        <tr>
                            <td width="50%">Crude Protein</td>
                            <td width="50%">Min 10%</td>
                        </tr>
                        <tr>
                            <td width="50%">Crude Fat</td>
                            <td width="50%">Min 5%</td>
                        </tr>
                        <tr>
                            <td width="50%">Crude Fiber</td>
                            <td width="50%">Min 2%</td>
                        </tr>
                        <tr>
                            <td width="50%">Moisture</td>
                            <td width="50%">Max 77%</td>
                        </tr>
                        <tr>
                            <td width="50%"><strong>Calorie Content</strong></td>
                            <td width="50%"><strong>1,807 kCal/kg</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
    </div>



    <div class="hero bg-right mint-bg">
        <div class="wrapper">
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInLeft">Beef Puploaf</h2>
                    <p>Imagine the tastiest ribeye steak coming fresh off the grill,
                        mouthwatering flavor. That's what your dog will experience with every
                        slice of our delicious Beef Puploaf. Made with beef liver, vegetables, and
                        vitamins to give your best friend the nutrients they need. Your dog will be
                        excited for every meal time, and the word Puploaf will resonate with
                        them like a treat.</p>
                </div>
            </div>
            <div class="image" style="background-image: url(/images/nutrition/fetch_nutrition_beef.jpg);">
                <img src="/images/nutrition/fetch_nutrition_beef.jpg">
            </div>
        </div>
    </div>


    <div class="features">
        <div class="wrapper">
            <div class="intro">
                <h2>Family deserves fresh</h2>
                <p>You should be able to say every ingredient. At Fetch every ingredient to our Puploaf has a purpose, there are no added fillers, no preservatives. Only what your best friend needs to thrive. Fresh food made by hand is what family deserves.</p>
            </div>
            <div class="icon-grid">
                <div class="icon wow animate__flipInX" data-wow-delay="0s">
                    <img src="/images/hands.png">
                    <p>Hand-prepared<br>by chefs</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.2s">
                    <img src="/images/truck.png">
                    <p>Delivered within<br>48 hours of cooking</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.4s">
                    <img src="/images/barn.png">
                    <p>Locally-sourced<br>ingredients</p>
                </div>
                <div class="icon wow animate__flipInY" data-wow-delay="0.6s">
                    <img src="/images/fruits.png">
                    <p>Made in a USDA-<br>certified kitchen</p>
                </div>
            </div>
        </div>
    </div>


    {% include "partials/kibble-compare.liquid" %}


    <div class="features">
        <div class="wrapper">
            <div class="intro" style="max-width:75%">
                <h2>Let's feed our family <span class="green">real food</span></h2>
                <p>There is no competition. Kibble is made at such high temperatures the nutrients are cooked right out of it. Imagine leaving a steak on the BBQ for 10 hours, there’d be no nutrients left. Meat shouldn’t be able to sit in a bag, but we have grown so accustomed to kibble that we don’t think of it as meat.</p>
                <p>Using clever marketing and food labels, big companies have led us to believe that kibble is what your best friend needs. Since we started feeding our dogs kibble sickness, obesity and disease has been off the charts.</p>                    
            </div>
            <div class="intro">
                <h2 style="font-weight:900; margin:0;"><span class="red">90%</span></h2><h3 style="font-size:36px;">of dogs are fed kibble.</h3>
            </div>
            <div class="flex-icons">
                <div class="icon">
                    <h2 class="red" style="font-size:42px; margin:0; font-weight:900">Nearly 50%</h2>
                    <h3 style="font-size:24px;">of dogs in the US die<br>from cancer.</h3>
                </div>
                <div class="icon">
                    <h2 class="red" style="font-size:42px; margin:0; font-weight:900">Nearly 60%</h2>
                    <h3 style="font-size:24px;">of dogs are overweight<br>or obese.</h3>
                </div>
                <div class="icon">
                    <h2 class="red" style="font-size:42px; margin:0; font-weight:900">Over 80%</h2>
                    <h3 style="font-size:24px;">of dogs will develop some<br>form of mental disease.</h3>
                </div>
                
            </div>

        </div>
    </div>


    <div class="hero sky-bg">
        <div class="wrapper">
            <div class="image" style="background-image: url(/images/nutrition/fetch_nutrition_choose_puploaf.jpg);">
                <img src="/images/nutrition/fetch_nutrition_choose_puploaf.jpg">
            </div>
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__backInRight">Choose Puploaf</h2>
                    <p>Every dog is family. Dogs are our companions, they comfort us. Dogs bring us that feeling of home. We believe they deserve food that gives them life, helps them prosper, and prevents disease and obesity.</p>
                    <p><a href="#" class="button white">shop now</a></p>
                </div>
            </div>
        </div>
    </div>

{% include "partials/footer.liquid" %}

{% include "partials/end.liquid" %}