{% include "partials/html.liquid" %}

{% include "./partials/nav.liquid" %}

{% include "./partials/promo-bar.liquid" %}

    <div class="single-product">
        <div class="wrapper">

            <div class="product-hero">
                <div class="image">
                    <img src="/images/food-bowl.png">
                </div>
                <div class="content">
                    <h1>Beef Puploaf</h1>
                    <p>This recipe is packed with nutrients, starting with our ground beef sourced from Pacific Northwest Farms</p>
                    <img src="/images/green-stars.png" width="166">
                    <div class="review-data">
                        <span>4.8/5 stars</span>
                        <span>|</span>
                        <span><a href="#">94 reviews</a></span>
                    </div>
                </div>
            </div>

            <div class="product-calculator">
                {% include "partials/calculator.liquid" %}
            </div>

        </div>
    </div>

    
    <div class="product-feature-nav green-bg">
        <div class="wrapper">
            <div><button class="button feature-button active" data-for="ingredients">Ingredients</button></div>
            <div><button class="button feature-button" data-for="nutrition">Nutrition</button></div>
            <div><button class="button feature-button" data-for="feeding">Feeding Guide</button></div>
            <div><button class="button feature-button" data-for="faq">FAQ</button></div>
        </div>
    </div>

    <div class="product-features mint-bg" id="product-features">
        <div class="wrapper">

            <div class="feature active" id="ingredients">
                <div class="ingredients">
                    <div class="intro">
                        <h2>Human-grade ingredients chef-crafted into Puploaf</h2>
                        <p>INGREDIENTS: Ground Beef, Brown Rice, Sweet Potato, Breadcrumbs, Carrots, Peas, Diced Tomatoes, Apple, Egg, Beef Liver, Apple Cider VInegar, Nutritional Yeast, Rosemary, Chef Canine Complete 2 (Vitamins and Nutrients)</p>
                    </div>
                    <div class="nutrition-icons">
                        
                        <div class="icon">
                            <img src="/images/product/beef.png">
                            <h3>Ground beef</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>

                        <div class="icon">
                            <img src="/images/product/liver.png">
                            <h3>Beef liver</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>

                        <div class="icon">
                            <img src="/images/product/kale.png">
                            <h3>Kale</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>

                        <div class="icon">
                            <img src="/images/product/apple.png">
                            <h3>Apples</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>

                        <div class="icon">
                            <img src="/images/product/rice.png">
                            <h3>Brown rice</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>

                        <div class="icon">
                            <img src="/images/product/chefs_canine.png">
                            <h3>Chef’s Canine</h3>
                            <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="feature" id="nutrition">
                <div class="single-product-nutrition">
                    <div class="intro">
                        <h2>Beef Puploaf nutritional info</h2>
                        <div class="loaf-selector">
                            <div class="icon">
                                {% include "partials/turkey-icon.liquid" %}
                                <strong>Turkey</strong>
                            </div>                        
                            <div class="icon active">
                                {% include "partials/beef-icon.liquid" %}
                                <strong>Beef</strong>
                            </div>
                        </div>
                        <div><p>Choose which nutrition facts you’d like to learn more about.</p></div>
                        <div class="text"><p><strong>INGREDIENTS:</strong> Ground Beef, Brown Rice, Sweet Potato, Breadcrumbs, Carrots, Peas, Diced Tomatoes, Apple, Egg, Beef Liver, Apple Cider VInegar, Nutritional Yeast, Rosemary, Chef Canine Complete 2 (Vitamins and Nutrients)</p></div>
                    </div>
                    <div class="nutrition-info">
                        <div class="table">
                            <table>
                                <tr>
                                    <td width="100%" colspan="2"><strong>Guaranteed Analysis</strong></td>
                                </tr>
                                <tr>
                                    <td width="50%">Crude Protein</td>
                                    <td width="50%">Min 10%</td>
                                </tr>
                                <tr>
                                    <td width="50%">Crude Fat</td>
                                    <td width="50%">Min 5%</td>
                                </tr>
                                <tr>
                                    <td width="50%">Crude Fiber</td>
                                    <td width="50%">Min 2%</td>
                                </tr>
                                <tr>
                                    <td width="50%">Moisture</td>
                                    <td width="50%">Max 77%</td>
                                </tr>
                                <tr>
                                    <td width="50%"><strong>Calorie Content</strong></td>
                                    <td width="50%"><strong>1,807 kCal/kg</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="feature feeding-guide" id="feeding">
                <div class="intro-text">
                    <h2>Feeding guide</h2>
                    <p>
                        In your first order you will find the Puploaf you selected, along with a
    Fetch cutting board (handwash only) to assist with portion control. Based
    on Vinny’s weight, size and activity level you should cut a 1 1/8 inch slice
    per meal, assuming you feed Vinny twice a day. Feed hot or cold!
                    </p>

<p>
    <strong>We suggest a 7 day transition period.</strong> This will allow your dog’s stomach
    to adjust to the new diet. If you notice your dog’s poop is runny, stay on
    that transition stage for an extra 2 days, or until their poop is back to
    normal.
</p>
                </div>
                <div class="charts">
                    
                    <div class="column">
                        <div class="chart"><div class="quarter"></div></div>
                        <div class="text">
                            <p><strong>Day 1-2</strong></p>
                            <p>
                                75% old food<br>
                                25% Puploaf
                            </p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="chart"><div class="half"></div></div>
                        <div class="text">
                            <p><strong>Day 3-4</strong></p>
                            <p>
                                50% old food<br>
                                50% Puploaf
                            </p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="chart"><div class="threequarters"></div></div>
                        <div class="text">
                            <p><strong>Day 5-6</strong></p>
                            <p>
                                25% old food<br>
                                75% Puploaf
                            </p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="chart"><div class="full"></div></div>
                        <div class="text">
                            <p><strong>Day 7+</strong></p>
                            <p>
                                100% Puploaf
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="feature faq" id="faq">
                <h2>FAQ</h2>

                <div class="faqs">
                    
                    <div class="entry active">
                        <div class="question">
                            <span>How is your food fresh?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            Our focus is feeding our pup friends in the Pacific Northwest where we can safely deliver fresh. We source our ingredients from local vendors whenever possible. We produce our Puploaf bi-weekly and deliver on Tuesdays and Wednesdays. The Puploaf will be delivered chilled (NOT frozen), and ready to be placed in your refrigerator.
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>Where do we deliver?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            We now deliver throughout Oregon and most of Washington where we can safely deliver your pup's food fresh.
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>Where do your ingredients come from?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            We live and work in Portland and believe in supporting our local protein suppliers and farmers. We source our quality meats for the beef and turkey Puploaf from local meat companies. All of our vegetables, fruits, herbs and eggs will always come from local farmers when in season and locally owned distributors.
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>How did Fetch create the Puploaf recipes?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            Our Puploaf recipes are the result of multiple experiments of different flavors working in conjunction with our board-certified veterinary nutritionist. Each recipe was carefully formulated to meet the nutritional values established by the AAFCO Dog Food Nutrient Profiles for adult dogs. And lastly, Portland dogs had to approve the great taste!
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>Should I refrigerate and freeze my Puploaf?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            Yes, keep refrigerated. Our food is fresh and does not contain preservatives. We recommend that you place the Puploaf you will not use in the first 7 days into the freezer.
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>What if my pup wants to send the plate back to the kitchen?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            Our chefs would hate to see this happen, but we will always stand behind the quality of our product and delivery. Please send us a message to hello@feedfetch.com and we will send you free samples of our other flavors to try and satisfy your best friend. If that does not work or is not of interest to you, we will refund your order and invite you to donate any leftover food to a local shelter
                        </div>
                    </div>

                    <div class="entry">
                        <div class="question">
                            <span>Can I adjust my subscription at any time?</span>
                            <span><i class="fa-solid fa-caret-down"></i></span>
                        </div>
                        <div class="answer">
                            Yes, you can adjust your subscription any time with respect to the desired Puploaf flavor on your account page. We ask that any changes in the Puploaf flavor be made the Sunday night before your next delivery at 6pm. This way we can ensure we have all of the ingredients necessary to meet your pup’s needs. Should you cancel your pup’s meal plan, you can do so on the account page                        
                        </div>
                    </div>
                    
                </div>
            </div>
            

        </div>
    </div>

    <div class="benefits">
        <div class="wrapper">
            <div class="intro">
                <h2>Why Fetch? Benefits you see that they taste</h2>
            </div>
            <div class="cards">
                
                <div class="card">
                    <div class="image">
                        <img src="/images/product/fetch_product_healthier_pup.jpg">
                    </div>
                    <div class="content">
                        <h4>Healthier Pup</h4>
                        <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/product/fetch_product_longer_life.jpg">
                    </div>
                    <div class="content">
                        <h4>Longer Life</h4>
                        <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/product/fetch_product_more_energy.jpg">
                    </div>
                    <div class="content">
                        <h4>More Energy</h4>
                        <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="image">
                        <img src="/images/product/fetch_product_healthy_coat_fur.jpg">
                    </div>
                    <div class="content">
                        <h4>Healthy Coat &amp; Gut</h4>
                        <p>Our meals are made using the freshest ingredients to increase your pup's health and wellness through amazing food.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="hero sky-bg bg-right">
        <div class="wrapper">
            <div class="content">
                <div class="text">
                    <h2 class="wow animate__flipInX">What's in your first box?</h2>
                    <ul>
                        <li>Your choice of Puploaf</li>
                        <li>Fetch cutting board</li>
                        <li>Meal transition guide</li>
                        <li>Cooling pack to ensure freshness</li>
                    </ul>
                </div>
            </div>
            <div class="image blue-bg" style="background-image:url(/images/product/fetch_product_in_box.jpg)">
                <img src="/images/product/fetch_product_in_box.jpg">
            </div>
        </div>
    </div>

    {% include "partials/carousel.liquid" %}

    <div class="full-reviews">
        <div class="wrapper">
            
            <div class="intro">
                <h2>Verified customer reviews</h2>
            </div>

            <div class="reviews">
                {% for i in (1..10) %}
                <div class="entry">
                    <div class="header">
                        <div class="icon">
                            <img src="/images/review-icon.png">
                        </div>
                        <div class="meta">
                            <span class="name">Allison R.</span>
                            <span>Verified Buyer</span>
                            <img src="/images/green-stars.png" width="150">
                        </div>
                        <div class="date">
                            2/14/2022
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta soluta eius nostrum? Officia veniam nam libero architecto nemo, consectetur consequatur similique laborum praesentium earum totam expedita sunt saepe, assumenda laboriosam!</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="buttons">
                <a href="#" class="button white">see more</a>
                <a href="#" class="button white">leave a review</a>
            </div>

        </div>
    </div>


    


    

    {% include "partials/footer.liquid" %}

    {% include "partials/end.liquid" %}